.sidebar-toggle {
    position: fixed;
    top: 1rem;
    left: 20rem;
    display: block;
    width: 2.2rem;
    padding: .5rem .65rem;
    color: #505050;
    background-color: #fff;
    border-radius: 4px;
}
.sidebar-toggle:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: .125rem;
    border-top: .375rem double;
    border-bottom: .125rem solid;
}
.sidebar-toggle:hover {
    color: #fff;
    background-color: #505050;
}
.sidebar {
  transition: all .3s ease-in-out;
}
.sidebar-toggle {
  transition: all .3s ease-in-out;
}
.content{
  transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#sidebar-checkbox {
    display: none;
}

#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(-18rem);
      -ms-transform: translateX(-18rem);
          transform: translateX(-18rem);
}

#sidebar-checkbox:checked ~ .content {
  -webkit-transform: translateX(-8rem);
      -ms-transform: translateX(-8rem);
          transform: translateX(-8rem);
}
